In [1]:
#Import libraries
import numpy as np
import pandas as pd
from sklearn import model_selection

# Importing Dataset

In [7]:
df = pd.read_csv('fishdatset.csv')
print(df.head(5))
print("Shape of Dataset: ", df.shape)

    ph  temperature  turbidity   fish
0  6.0         27.0        4.0  katla
1  7.6         28.0        5.9   sing
2  7.8         27.0        5.5   sing
3  6.5         31.0        5.5  katla
4  8.2         27.0        8.5  prawn
Shape of Dataset:  (591, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ph           591 non-null    float64
 1   temperature  591 non-null    float64
 2   turbidity    591 non-null    float64
 3   fish         591 non-null    object
dtypes: float64(3), object(1)
memory usage: 18.6+ KB

In [9]:
df.describe().T

             count       mean       std  min    25%    50%     75%   max
ph           591.0   7.532115  0.810588  5.5   6.99   7.50   8.200   9.0
temperature  591.0  21.789306  4.536612  4.0  17.94  21.06  24.000  35.0
turbidity    591.0   4.432944  2.169062  1.0   3.48   3.57   4.005  15.8

In [14]:
df.value_counts('fish')

fish
tilapia      129
rui           99
pangas        78
katla         58
silverCup     55
shrimp        50
sing          49
karpio        33
koi           15
prawn         14
magur         11
dtype: int64

In [15]:
df.isnull().sum()

ph             0
temperature    0
turbidity      0
fish           0
dtype: int64

# Data Preprocessing